  
<!--<div (click)="clickEvent($event,1)">
<p>Testo</p>
    <button (click)="clickEvent($event,2)">Cliccami</button>
</div>
<p>{{testo}}</p>
i due esempi sotto sono equivalenti
<input (input)="testo=$event.target.value;"[value]="testo">
l'ho spostato da secondo.component.ts
<input [(ngmodel)]="testo">-->
<div (click)="clickEvent($event, 1)">
    <p>Testo</p>
    <button (click)="clickEvent($event, 2)">Cliccami</button>
</div>


<p>{{testo}}</p>
<!--i due esempi qua sotto sono equivalenti
    <input (input)="inputEvent($event)"[value]="testo">
<input [(ngModel)]="testo">
-->
<div>
    <label>one way binding verso l'utente [value]="testo"</label>
    <input [value]="testo">
</div>

<div>
    <label>one way binding verso il codice(input)="inputEvent(this.testo=$event.target.value;)"</label>
    <input (input)="inputEvent($event)" >
</div>


<div>
    <label>two way binding a mano</label>
   <!-- <input (input)="inputEvent($event)"[value]="testo">-->
   <input (input)="testo=$event.target.value"[value]="testo">
</div>


<div>
<label>two way binding con ngModel</label>
<input [(ngModel)]="testo">
</div>