<!--interpolazione-->
<p appHighlight>Applico qua la direttiva</p>
<p>{{title}}</p>
<p [innerHTML]="title"></p>
<p>title</p>
<!--Property binding-->
<p>The sum 2+2{{1+1+getVal()}}</p>

<div>{{htmlString}}</div>
<div [innerHTML]="htmlString"></div>
 
<div>
<a href="https://google.it">Link</a>
</div>
<div>questo è quello normale
<a href="linkUrl">Link</a>
</div>
<!--questi 2 sono gli altri-->
<div>
  <a [href]="linkUrl">Link</a> //mettendo le quadre stiamo dicendo che stiamo inserendo href come una roperties di angular,property binding
  </div> //lo si può fare con tutti le quadre
  <div>
    <a href="{{linkUrl}}"></a> //interpolazione
  </div>
  <!--<div *ngfor="let pippo of lista">
    {{lista}}
</div>-->
<p>{{getCosa()}}</p>
<div>{{lista[0]}}</div>
<div>{{lista[1]}}</div>
<div>{{lista[2]}}</div>




<p>{{titoloInput}} works!</p>

<p>{{titoloInput|uppercase}} works!</p><!--è tutto in uppercase-->

<p>{{myDate}}</p>
<p>{{myDate|date:'long'|uppercase}}</p><!--ce lo da diverso-->
<!--non si puo mettere prima l'uppercase-->


<p>{{oggetto?.chiave}}</p>
<p>{{oggetto1?.chiave}}</p>

<p *ngFor="let elemento of lista">{{elemento}}</p>

<p [class.colorRed]="toggleStyle"
[class.boldStyle]="!toggleStyle">{{titoloInput | lowercase}}
</p>
<p class="boldStyle">{{myDate}}</p>
<p [ngClass]="myStyles">{{myDate | date:'longDate' |uppercase}}</p>
<button (click)="toggleStyle=!toggleStyle">Toggle Style</button>